In [4]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv("/content/Top Indian Places to Visit - Copy.csv")

In [6]:
df.shape

(325, 16)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 325 entries, 0 to 324
Data columns (total 16 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Unnamed: 0                        325 non-null    int64
 1   Zone                              325 non-null    object
 2   State                             325 non-null    object
 3   City                              325 non-null    object
 4   Name                              325 non-null    object
 5   Type                              325 non-null    object
 6   Establishment Year                325 non-null    object
 7   time needed to visit in hrs       325 non-null    float64
 8   Google review rating              325 non-null    float64
 9   Entrance Fee in INR               325 non-null    int64
 10  Airport with 50km Radius          325 non-null    object
 11  Weekly Off                        32 non-null     object
 12  Significance                      325 non-null    object
 13  DSLR Allowed                      325 non-null    object
 14  Number of google review in lakhs  325 non-null    float64
 15  Best Time to visit                325 non-null    object
dtypes: float64(3), int64(2), object(11)
memory usage: 40.8+ KB

In [8]:
df['Weekly Off'].fillna('No Weekly Off', inplace=True)

/tmp/ipython-input-64952484.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Weekly Off'].fillna('No Weekly Off', inplace=True)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 325 entries, 0 to 324
Data columns (total 16 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Unnamed: 0                        325 non-null    int64
 1   Zone                              325 non-null    object
 2   State                             325 non-null    object
 3   City                              325 non-null    object
 4   Name                              325 non-null    object
 5   Type                              325 non-null    object
 6   Establishment Year                325 non-null    object
 7   time needed to visit in hrs       325 non-null    float64
 8   Google review rating              325 non-null    float64
 9   Entrance Fee in INR               325 non-null    int64
 10  Airport with 50km Radius          325 non-null    object
 11  Weekly Off                        325 non-null    object
 12  Significance                      325 non-null    object
 13  DSLR Allowed                      325 non-null    object
 14  Number of google review in lakhs  325 non-null    float64
 15  Best Time to visit                325 non-null    object
dtypes: float64(3), int64(2), object(11)
memory usage: 40.8+ KB

In [10]:
df.drop(columns=['Unnamed: 0','Establishment Year'], inplace=True)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 325 entries, 0 to 324
Data columns (total 14 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Zone                              325 non-null    object
 1   State                             325 non-null    object
 2   City                              325 non-null    object
 3   Name                              325 non-null    object
 4   Type                              325 non-null    object
 5   time needed to visit in hrs       325 non-null    float64
 6   Google review rating              325 non-null    float64
 7   Entrance Fee in INR               325 non-null    int64
 8   Airport with 50km Radius          325 non-null    object
 9   Weekly Off                        325 non-null    object
 10  Significance                      325 non-null    object
 11  DSLR Allowed                      325 non-null    object
 12  Number of google review in lakhs  325 non-null    float64
 13  Best Time to visit                325 non-null    object
dtypes: float64(3), int64(1), object(10)
memory usage: 35.7+ KB

In [12]:
print(df['City'].unique())

['Delhi' 'Mumbai' 'Lonavala' 'Bangalore' 'Hyderabad' 'Kolkata' 'Goa'
 'Ahmedabad' 'Dwarka' 'Junagadh' 'Bhuj' 'Vadodara' 'Somnath'
 'Rann of Kutch' 'Kevadia' 'Gandhinagar' 'Jaipur' 'Udaipur' 'Jaisalmer'
 'Sawai Madhopur' 'Pushkar' 'Ajmer' 'Jodhpur' 'Chittorgarh' 'Mount Abu'
 'Bikaner' 'Amritsar' 'Chandigarh' 'Alappuzha' 'Munnar' 'Kochi'
 'Thiruvananthapuram' 'Kozhikode' 'Wayanad' 'Thekkady' 'Kumarakom'
 'Varkala' 'Bekal' 'Kovalam' 'Kannur' 'Nelliyampathy' 'Mysore' 'Hampi'
 'Coorg' 'Gokarna' 'Chikmagalur' 'Badami' 'Shivamogga' 'Mangalore'
 'Murudeshwar' 'Bijapur' 'Bandipur' 'Halebidu' 'Pune' 'Aurangabad'
 'Nashik' 'Shirdi' 'Alibaug' 'Ratnagiri' 'Nagpur' 'Kolhapur' 'Tarkarli'
 'Satara' 'Matheran' 'Ajanta' 'Khajuraho' 'Bhopal' 'Indore' 'Gwalior'
 'Ujjain' 'Jabalpur' 'Pachmarhi' 'Kanha' 'Bandhavgarh' 'Orchha' 'Mandu'
 'Bhimbetka' 'Amarkantak' 'Chitrakoot' 'Shimla' 'Manali' 'dalhousie'
 'Dalhousie' 'Spiti Valley' 'Kullu' 'Chamba' 'Kinnaur' 'Kangra' 'Palampur'
 'Mandi' 'Bir Billing' 'McLeod Ganj' 'Manikaran' 'Narkanda' 'Barot'
 'Shoja' 'Kufri' 'Nainital' 'Rishikesh' 'Haridwar' 'Dehradun' 'Mussoorie'
 'Auli' 'Badrinath' 'Almora' 'Ranikhet' 'Jim Corbett' 'Uttarkashi'
 'Chopta' 'Joshimath' 'Agra' 'Varanasi' 'Lucknow' 'Mathura' 'Ayodhya'
 'Vrindavan' 'Allahabad' 'Jhansi' 'Sarnath' 'Fatehpur Sikri' 'Noida'
 'Aligarh' 'Meerut' 'Kanpur' 'Srinagar' 'Leh' 'Pahalgam' 'Jammu'
 'Udhampur' 'Anantnag' 'Nubra Valley' 'Kargil' 'Diskit' 'Kishtwar' 'Hemis'
 'Dras' 'Porbandar' 'Darjeeling' 'Siliguri' 'Sundarbans' 'Digha'
 'Murshidabad' 'Bolpur' 'Hooghly' 'Jalpaiguri' 'Cooch Behar' 'Purulia'
 'Puri' 'Konark' 'Bhubaneswar' 'Rourkela' 'Cuttack' 'Sambalpur' 'Chilika'
 'Berhampur' 'Keonjhar' 'Balasore' 'Kendujhar' 'Chennai' 'Madurai'
 'Rameswaram' 'Kanyakumari' 'Ooty' 'Coimbatore' 'Kodaikanal' 'Thanjavur'
 'Mahabalipuram' 'Yercaud' 'Tirunelveli' 'Chidambaram' 'Vijayawada'
 'Visakhapatnam' 'Srisailam' 'Rajahmundry' 'Anantapur' 'Kurnool'
 'Amravati' 'Guntur' 'Kadapa' 'Puttaparthi' 'Vizianagaram' 'Gangtok'
 'Pelling' 'Namchi' 'Ravangla' 'Guwahati' 'Kaziranga' 'Sivasagar' 'Majuli'
 'Manas' 'Hajo' 'Tawang' 'Agartala' 'Dumboor' 'Unakoti' 'Bastar'
 'Dz√ºkou Valley' 'Puducherry' 'Auroville' 'Port Blair' 'Havelock Island'
 'Neil Island' 'Baratang Island' 'Diu' 'Deoghar' 'Ranchi' 'Bodh Gaya'
 'Patna' 'Gurugram' 'New Delhi' 'Kedarnath' 'Greater Noida' 'Bengaluru'
 'Cherrapunji']

In [13]:
city_df = pd.read_csv("/content/city_lat_long.csv")



city_df = city_df[['City', 'Latitude', 'Longitude']]


city_df['City'] = city_df['City'].str.strip()
df['City'] = df['City'].str.strip()

df = df.merge(city_df, on='City', how='left')

In [14]:
df = df.merge(
    city_df,
    on='City',
    how='left'
)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 325 entries, 0 to 324
Data columns (total 18 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Zone                              325 non-null    object
 1   State                             325 non-null    object
 2   City                              325 non-null    object
 3   Name                              325 non-null    object
 4   Type                              325 non-null    object
 5   time needed to visit in hrs       325 non-null    float64
 6   Google review rating              325 non-null    float64
 7   Entrance Fee in INR               325 non-null    int64
 8   Airport with 50km Radius          325 non-null    object
 9   Weekly Off                        325 non-null    object
 10  Significance                      325 non-null    object
 11  DSLR Allowed                      325 non-null    object
 12  Number of google review in lakhs  325 non-null    float64
 13  Best Time to visit                325 non-null    object
 14  Latitude_x                        325 non-null    float64
 15  Longitude_x                       325 non-null    float64
 16  Latitude_y                        325 non-null    float64
 17  Longitude_y                       325 non-null    float64
dtypes: float64(7), int64(1), object(10)
memory usage: 45.8+ KB

In [16]:

df = df.drop(columns=['Latitude_x', 'Longitude_x'])


df = df.rename(columns={
    'Latitude_y': 'Latitude',
    'Longitude_y': 'Longitude'
})


df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 325 entries, 0 to 324
Data columns (total 16 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Zone                              325 non-null    object
 1   State                             325 non-null    object
 2   City                              325 non-null    object
 3   Name                              325 non-null    object
 4   Type                              325 non-null    object
 5   time needed to visit in hrs       325 non-null    float64
 6   Google review rating              325 non-null    float64
 7   Entrance Fee in INR               325 non-null    int64
 8   Airport with 50km Radius          325 non-null    object
 9   Weekly Off                        325 non-null    object
 10  Significance                      325 non-null    object
 11  DSLR Allowed                      325 non-null    object
 12  Number of google review in lakhs  325 non-null    float64
 13  Best Time to visit                325 non-null    object
 14  Latitude                          325 non-null    float64
 15  Longitude                         325 non-null    float64
dtypes: float64(5), int64(1), object(10)
memory usage: 40.8+ KB

In [17]:
cities_with_null_coords = df[df['Latitude'].isnull() | df['Longitude'].isnull()]['City'].unique()
print(cities_with_null_coords)

[]

In [18]:
df['Entrance Fee in INR'] = df['Entrance Fee in INR'].astype(float)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 325 entries, 0 to 324
Data columns (total 16 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Zone                              325 non-null    object
 1   State                             325 non-null    object
 2   City                              325 non-null    object
 3   Name                              325 non-null    object
 4   Type                              325 non-null    object
 5   time needed to visit in hrs       325 non-null    float64
 6   Google review rating              325 non-null    float64
 7   Entrance Fee in INR               325 non-null    float64
 8   Airport with 50km Radius          325 non-null    object
 9   Weekly Off                        325 non-null    object
 10  Significance                      325 non-null    object
 11  DSLR Allowed                      325 non-null    object
 12  Number of google review in lakhs  325 non-null    float64
 13  Best Time to visit                325 non-null    object
 14  Latitude                          325 non-null    float64
 15  Longitude                         325 non-null    float64
dtypes: float64(6), object(10)
memory usage: 40.8+ KB

In [20]:
df.to_csv('preprocessed_data_for_Weekend.csv', index=False)

In [21]:
source_city = "Kolkata"
source = df[df['City'] == source_city].iloc[0]
src_lat, src_lng = source['Latitude'], source['Longitude']

In [22]:
def haversine(lat1, lon1, lat2, lon2):
    R = 6371  # Earth radius in km
    lat1, lon1, lat2, lon2 = map(np.radians, [lat1, lon1, lat2, lon2])
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    a = np.sin(dlat/2)**2 + np.cos(lat1)*np.cos(lat2)*np.sin(dlon/2)**2
    return 2 * R * np.arcsin(np.sqrt(a))

In [23]:
df['Distance_km'] = df.apply(
    lambda row: haversine(src_lat, src_lng, row['Latitude'], row['Longitude']),
    axis=1
)

In [24]:
weekend_df = df[df['Distance_km'] <= 500].copy()

In [25]:
weekend_df['airport_score'] = weekend_df[
    'Airport with 50km Radius'
].apply(lambda x: 1 if x == 'Yes' else 0)

In [26]:
weekend_df['rating_norm'] = (
    weekend_df['Google review rating'] /
    weekend_df['Google review rating'].max()
)

weekend_df['popularity_norm'] = (
    weekend_df['Number of google review in lakhs'] /
    weekend_df['Number of google review in lakhs'].max()
)

weekend_df['distance_norm'] = 1 - (
    weekend_df['Distance_km'] /
    weekend_df['Distance_km'].max()
)
weekend_df['time_norm'] = (
    1 - (
        weekend_df['time needed to visit in hrs'] /
        weekend_df['time needed to visit in hrs'].max()
    )
)
weekend_df['fee_norm'] = (
    1 - (
        weekend_df['Entrance Fee in INR'] /
        weekend_df['Entrance Fee in INR'].max()
    )
)

In [27]:
weekend_df['final_score'] = (
    0.25 * weekend_df['rating_norm'] +
    0.25 * weekend_df['popularity_norm'] +
    0.25 * weekend_df['distance_norm'] +
    0.15 * weekend_df['time_norm'] +
    0.10 * weekend_df['airport_score'] +
    0.05 * weekend_df['fee_norm']
)

In [28]:
top_weekend_places = (
    weekend_df
    .sort_values('final_score', ascending=False)
    .head(10)
)

top_weekend_places[
    ['City', 'Name', 'Distance_km', 'Google review rating',
     'Number of google review in lakhs', 'final_score']
]

,City,Name,Distance_km,Google review rating,Number of google review in lakhs,final_score
43,Kolkata,Howrah Bridge,0.000000,4.6,1.20,0.942598
45,Kolkata,Dakshineswar Kali Temple,0.000000,4.7,0.82,0.876389
296,Deoghar,Baba Baidyanath Temple,272.350346,4.7,1.80,0.875341
42,Kolkata,Victoria Memorial,0.000000,4.6,0.73,0.839220
46,Kolkata,Kalighat Kali Temple,0.000000,4.4,0.50,0.815987
50,Kolkata,Belur Math,0.000000,4.7,0.47,0.809028
48,Kolkata,Alipore Zoological Gardens,0.000000,4.3,0.66,0.794890
49,Kolkata,Science City Kolkata,0.000000,4.4,0.88,0.792565
221,Hooghly,Hangseswari Temple,36.104276,4.6,0.07,0.767470
51,Kolkata,Marble Palace,0.000000,4.4,0.10,0.760431